<div class="row">
  <div class="col-4">
    <ul>
      <li *ngFor="let item of roleList">{{ item.role }}</li>
    </ul>
  </div>
  <div class="col-4">
    <select name="" id="">
      <option *ngFor="let role of roleList" [value]="role.roleId">
        {{ role.role }}
      </option>
    </select>
  </div>
  <div class="col-4">
    <button class="btn btn-warning mx-2" *ngFor="let item of roleList">
      {{ item.role }}
    </button>
  </div>
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Role Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roleList; let srno = index">
          <td>{{ srno + 1 }}</td>
          <td>{{ role.role }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <p>first Name: {{firstName}}</p>
<p>version: {{version}}</p>
<p>isActive: {{isActive}}</p>
<p>current date: {{currentDate}}</p>
<p>angularVersion: {{angularVersion}}</p>
<p>state: {{selectedState}}</p> -->

<!-- <div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form-control">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName">
    </div>
    <div class="col-3">
        <input type="text" [type] = "inputType">
    </div>
    <div class="col-3">
     <select name="" id="" [(ngModel)] = "selectedState">
        <option value="MH">MH</option>
        <option value="KA">KA</option>
        <option value="AS">AS</option>
     </select>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-sucess" (click)="showWelcomeAlert()">Show</button>
        </div>
        <div class="col-3">
            <button class="btn btn-sucess" (click)="showMessage('react')">Show React</button>
        </div>
    </div>
</div> -->
